# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# from naychrist-glNext
.DS_Store
*.app

*.pdb
*.exe

.sconsign.dblite
*.sw[a-z]

Syphon-BasicApp
SyphonServerDirectoryApp

